:root {
  --border-radius: 0.5rem;
  --secondary-color: #f2f2f2;
  --primary-color: #443EFF;
  --white-color: #ffffff;
  --hover-secondary-color: #ddd;
  --light-bg-color: #d1d5db;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  min-height:100vh;
}